@page
@model FactorWithAzureFuncModel
@{
    ViewData["Title"] = "Factor a Large Integer(with Azure Func)";
}

<h1>Factor a Large Integer</h1>

<form method="post">
    <label for="Number">Enter a large integer:</label>
    <input type="text" id="InputNumberString" name="InputNumberString" value="@Model.InputNumberString" required />
    <button type="submit">Factor</button>
</form>

@Model.resultstring 